*{
  padding:0;
}
:global .border-red{
  border:1px solid red;
}
:local .div1{
  composes:mydiv from "./test2.css";
  background-color:red;
  display:flex;
}
.img1{
  background:url('../img/logo.png');
}